.Navbar{
    .logo{
        height: 150px !important;
    }
    input{
        height: 25px !important;
        border: 1px solid rgb(138, 138, 138) !important;
    }
    button{
        border: 1px solid rgb(138, 138, 138) !important;

    }
    .Navlist{
        background-color: rgba(75,174,206,255);
        
    }
}